* {
    box-sizing: border-box;
}

:root {
    --black: #000000;
    --med-white: #fff7ed;
    --dark-gray: #4d4d4d;
    --orange: #ff8c38;
    --white: #ffffff;
    --dark-orange: #ff7a00;
    --lighter-orange: #ffcc8d;
    --alt-black: #161616;
    --alt2-black: #252525;
    --light-gray: #aaaaaa;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--med-white);
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Header section */
header {
    display: flex;
    align-items: center;
    padding-block: 10px;
    height: 112px;
}

header .site-logo {
    color: var(--black);
    margin-right: auto;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.5625rem;
}

header a {
    text-decoration: none;
    color: var(--dark-gray);
    font-weight: 600;
    padding: 0 15px;
}

header a:hover {
    color: #161616;
    text-decoration: underline;
}

header a.active-link {
    font-weight: bold;
    text-decoration: underline;
    color: var(--alt-black);
}

/* Footer section */
footer {
    background-color: var(--alt2-black);
    color: var(--light-gray);
    text-align: center;
    padding-block: 25px;
}

/* Main content section */
main {
    margin-bottom: 80px;
}

/* Home page container */
div.home-container {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)),
        url('./assets/images/home-hero.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 360px;
    color: white;
    padding: 50px 25px;
}

div.home-container h1 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 40px;
}

div.home-container p {
    line-height: 24px;
    font-size: 1.125rem;
}

div.home-container a {
    background-color: var(--orange);
    color: var(--white);
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    width: 100%;
    display: inline-block; /* Originally the anchor tag was an inline element */
    padding-block: 14px; /* 14px top and bottom */
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 30px;
    cursor: pointer;
}

div.home-container a:hover {
    background-color: var(--dark-orange);
}

/* Link button */
.link-button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: 0.75rem 1.375rem;
    color: initial;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

/* About container */
img.about-hero-image {
    max-width: 100%;
}

div.about-page-content {
    padding-inline: 23px; /* 23px left and right */
    color: #161616;
    margin-bottom: 55px;
}

div.about-page-content h1 {
    line-height: 38px;
}

div.about-page-content p {
    line-height: 22px;
}

/* About page call to action(cta) section */
div.about-page-cta {
    background-color: var(--lighter-orange);
    padding-inline: 32px; /* 32px left and right */
    padding-bottom: 20px; /* 20px top and bottom */
    margin-inline: 23px; /* 23px left and right */
    border-radius: 5px;
}

div.about-page-cta > a.link-button {
    color: var(--white);
    background: var(--black);
    border-radius: 10px;
}

div.about-page-cta h2 {
    margin: 0;
    padding-block: 37px;
}

/* Vans container */
div.vans-container {
    padding-inline: 23px; /* 23px left and right */
}

div.vans-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
    justify-items: center;
    margin-top: 55px;
}

div.van-card img.van-img {
    max-width: 100%;
    border-radius: 5px;
}

div.van-card > a {
    color: var(--alt-black);
    text-decoration: none;
}

div.vans-list-container button {
    margin-right: 20px;
    cursor: pointer;
}

.van-type {
    height: 35px;
    padding: 5px 25px;
    font-style: normal;
    font-weight: 500;
    border-radius: 5px;
    background-color: #ffead0;
    text-transform: capitalize;
    color: #4d4d4d;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
    color: #ffead0;
}

.van-type:focus {
    outline: none;
}

.van-type.selected {
    color: #ffead0;
}

.van-type.simple:hover,
.van-type.simple.selected {
    background-color: #e17654;
}

.van-type.rugged:hover,
.van-type.rugged.selected {
    background-color: #115e59;
}

.van-type.luxury:hover,
.van-type.luxury.selected {
    background-color: var(--alt-black);
}

.van-type.clear-filters {
    margin-left: -20px;
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    text-decoration: underline;
    background-color: transparent;
    color: var(--alt-black);
}

i[class*='van-type-'] {
    padding: 7px 14px;
}

/* Van details page */
div.van-details-container {
    padding: 23px;
}

div.van-details-container .back-button {
    color: var(--black);
    text-decoration: none;
}

div.van-details-container .back-button:visited {
}

div.van-details-container .back-button span {
    text-decoration: underline;
}

div.van-details {
    display: flex;
    flex-direction: column;
    color: var(--alt-black);
}

div.van-details img {
    border-radius: 5px;
    margin-block: 47px;
}

div.van-details h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

div.van-details > i {
    align-self: flex-start;
}

div.van-details p.van-price {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

div.van-details p.van-price span {
    font-weight: 700;
    font-size: 1.5rem;
}

div.van-details .link-button {
    background-color: var(--orange);
    color: var(--white);
    font-size: 1.125rem;
}

/* Host nav bar */
nav.host-nav {
    display: flex;
}

nav.host-nav a {
    text-decoration: none;
    color: var(--dark-gray);
    font-weight: 500;
    padding: 5px 20px;
}

nav.host-nav a:hover {
    color: var(--alt-black);
    text-decoration: underline;
    font-weight: 600;
}

/* Host vans page */
div.host-vans-container {
    margin-inline: 23px;
}

div.host-vans-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

div.host-vans-list > div.host-van-card {
    padding-inline: 15px; /* 15px left and right */
}

div.host-van-card > a {
    padding-block: 15px; /* 15px top and bottom */
    padding-left: 24px;
    border-radius: 5px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    color: var(--alt-black);
    text-decoration: none;
    cursor: pointer;
}

div.host-van-card img {
    height: 66px;
    max-width: 100%;
    border-radius: 5px;
    margin-right: 17px;
}

div.host-van-info h2 {
    font-weight: 600;
    font-size: 1.25rem;
    margin-block: 10px;
}

div.host-van-info p {
    margin-block: 10px;
}

/* Host van details page */
div.host-van-details-container {
    padding: 24px;
    background-color: var(--white);
    margin: 35px 25px;
}

div.host-van-details-card {
    display: flex;
    align-items: center;
}

div.host-van-details-card img.host-van-details-img {
    height: 160px;
    border-radius: 5px;
    margin-right: 25px;
}

div.host-van-details-info > h2 {
    margin-bottom: 0;
}

div.host-van-details-info > p {
    margin-block: 2px;
}

div.host-van-details-info > p > span {
    font-size: 1.25rem;
    font-weight: 900;
}

/* Host van details nav bar */
nav.host-van-details-nav {
    margin-top: 25px;
    display: flex;
}

nav.host-van-details-nav a {
    text-decoration: none;
    color: var(--dark-gray);
    font-weight: 500;
    padding-right: 30px;
}

nav.host-van-details-nav a.active-link {
    font-weight: bold;
    text-decoration: underline;
    color: var(--alt-black);
}
